nav ul{

    float: right;

    margin-right: 20px;

   }

   nav ul li{

    display: inline-block;

    line-height:5px;

 }

 nav{

    background:rgb(235, 231, 231);

    height: 20px;

    width: 100%;

}

h1{

    color:rgb(19, 16, 16);

    font-size: 50px;

    line-height: 80px;

   margin-left:50px;

}
.nature {

    background: url(../img/nature.jpg) no-repeat;

    width: 550;

    height: 450;

    padding-left:50px;

}

.earth{

    background: url(../img/earth.jpg) no-repeat;

    height: 250px;

    width: 250px;

}

.paragraph{

    height: 250;

    width: 250;

}

footer {

    border-top: 2px solid #d1d1d1;

    padding-top: 30px;

    margin-top: 15px;

}
